/* Reset de marges i padding */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

/* Estils Header */
header {
    padding: 60px;
    text-align: center;
    background-image: url(Fotos/restaurante-peq.jpg);
    background-size: cover;
}

header h1 {
    font-size: 40px;
    margin: 0 0 20px; /* Corrige el formato de margin */
}

header p {
    margin: 0 0 10px; /* Corrige el formato de margin */
}

header div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

/* Estils per a la navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(24, 80, 234);
    z-index: 1000;
    padding: 20px;
}

.navbar a {
    color: #ffffff;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

/* Quan passa el ratolí per sobre */
.navbar a:hover {
    background: #ddd;
    color: rgb(24, 80, 234);
}

@media screen and (max-width: 700px) {
    nav, .row {
        flex-direction: column;
    }  
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

aside {
    flex: 25%;
    padding: 20px;
    background-color: rgb(114, 202, 250);
}

img {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Main styles */
.main {
    flex: 75%;
    background-color: #ddd;;
}

h2 {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-size: 25px;
}
p {
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.image-wrapper {
    position: relative;
    flex: 1;
}
.image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.recuadro {
    border: 2px solid;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

section {
    margin-bottom: 70px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(24, 80, 234);
    text-align: center;
    padding: 3px 0;
}
